<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-5 mt-5">
      <h1 class="text-center">Answer</h1>
      <a href="<%= ask_path %>" class="btn btn-link">Ask a new question</a>
      <div class="alert alert-warning mt-3" role="alert">
        <h3><%= @question %></h3>
        <p><%= @answer %></p>
      </div>
    </div>
  </div>
</div>
